/* X-Large devices (large desktops, 1200px and up) */

.h1 {
   /* =90px */
   font-size: 5.625rem;
   }
   .h2 {
      /* =72px */
   font-size: 4.5rem;
   }
   .h3 {
      /* =60px */
   font-size: 3.75rem;
   }
   .h4 {
      /* =36px */
   font-size: 2.25rem;
   }
   .h5 {
      /* =30px */
   font-size: 1.875rem;
   }
   .h5b {
   font-family: "Ubuntu", sans-serif;
   text-transform: uppercase;
   /* =30px */
   font-size: 1.875rem;
   color: #050203;
   }
   .h6 {
      /* =24px */
   font-size: 1.5rem;
   }
/* --------- Header/Hero --------- */
.navlogo-wrap {
   width: 10%;
}
.hero-first {
   grid-row: 3;
   grid-column: 2;
}
.hero .huge-type {
   font-size: 4rem;
   font-weight: 700;
   letter-spacing: 0.4rem;
}
p.tagline {
   font-weight: 400;
   font-size: 2rem;
   line-height: 1.6;
}
.laughing-us {
   margin-top: -36%;
   grid-row: 1;
   grid-column: 8 / span 5;
}
.about-wrap {
   padding: 7em 0 3em;
}
.about-headings {
   grid-column: 2 / span 10;
}  
.method-wrap {
   padding: 0 6vw 3vh;
}
/* .method-grid {
   grid-gap: 3.3em;
} */

.huge-type {
   font-size: 9rem;
   letter-spacing: 0.4rem;
}

/* --------- Contact section --------- */
 .contact-chunk_form {
   margin: 1em 3em;
 }
 .contact-chunk_socials li {
   padding: 0 0.4em;
 }



/* --------- Footer section --------- */
.footer-logo img {
   width: 80%;
}
div.whatsapp-chat {
   display: none;
}


/* ----------------------------------- */
/* --------- SUB page webdev --------- */
/* ----------------------------------- */
.intro-bit {
   padding: 4em 0 2em;
}

.howwedo_wrap {
   display: grid;
   grid-template: 3em 4em 3em repeat(2, min-content) 12vh / repeat(5, 1fr);
}
.howwedo-img {
   grid-row: 2 / span 3;
   grid-column: 4 / span 2;
   background-image: url('../assets/woman_code_bg.webp');
   background-repeat: no-repeat;
   background-size: 72%;
}
.grey-highlight {
   grid-row: 4 / -1;
   grid-column: 1 / -1;
   background-color: #f8f8f8;
   display: grid;
   grid-template: 3fr 6em 2em 3fr min-content 3.3em / minmax(3em, 1fr) minmax(min-content, 1100px) minmax(3em, 1fr);
}
.howwedo_websites {
   grid-row: 1;
   grid-column: 2;
   margin-top: 8em;
}
.howwedo_liink-icon {
   grid-row: 2;
   grid-column: 2;
   background-image: url('../assets/liink-icon_black.svg');
   background-repeat: no-repeat;
   background-size: contain;
   background-position-x: center;
}
.howwedo_webshops {
   grid-row: 4;
   grid-column: 2;
}
.howwedo_list {
   display: grid;
   grid-template: repeat(6, min-content) / 3rem 1fr;
   grid-row-gap: 0.9em;
   margin: 1.2em 0 2em  1.2em;
}
.howwedo_list .liink_checkmark-wrap {
   grid-column: 1;
}
.howwedo_list .howwedo_list-item {
   grid-column: 2;
/*     margin: 1rem 0; */
   text-align: left;
}
.howwedo_a_wrap {
   grid-row: 5;
   grid-column: 2;
   background-position-x: right;
}

.package_other img {
   width: 20%;
   margin: 2em 1.2em;
 }
 .package_other .liink-btn {
     margin-top: 2.4em;
 }


/*--------- subpage contact highlight ---------*/
.subpage_ctct-highlight {
   grid-template: 1fr / minmax(6em, 1fr) minmax(min-content, 900px) minmax(6em, 1fr);
 }


/* ------------------------------------- */
/* --------- SUB page graphicD --------- */
/* ------------------------------------- */
.packages_graphicd_wrap {
   width: 100%;
   display: flex;
   justify-content: center;
}
.logo_package,
.branding_package {
   width: 30%;
   margin: 2em 1.2em;
}
/* .logo_package .package-card-title,
.branding_package .package-card-title {
   padding: 0;
} */
.logo_package .card-body,
.branding_package .card-body {
   text-align: center;
}


   /* --------- SUB page contact highlight --------- */
.subpage_ctct-card p:last-of-type {
   padding-bottom: 3em;
}
.subpage_ctct-icons-wrapper {
   padding: 4em 0 0;
   display: grid;
   grid-template: min-content / repeat(3, 1fr);
   justify-content: space-evenly;
   border-top: 4px solid #ee5555;
}
.subpage_ctct_icon-wrap:first-of-type {
   grid-column: 1;
}
.subpage_ctct_icon-wrap {
   grid-column: 2;
}
.subpage_ctct_icon-wrap:last-of-type {
   grid-column: 3;
}
.subpage_ctct_icon-wrap img {
   width: 36%;
}
p.icon_subtitle {
   margin: 1em 0 0 0;
}


/*--------------------------------------*/
/* --------- SUB page Contact --------- */
/*--------------------------------------*/
#contact-page {
   display: flex;
   justify-content: center;
}
.contact-page_wrap {
   margin: 4em 0 1em;
   padding: 0 1rem;
}
.contact-page_inner-wrap  {
   width: 60vw;
   margin: 0 0 3em;
   padding: 2rem;
}
.contact-page_inner-wrap .h3 {
   padding: 1em 0;
}
.contact-page_form-wrap {
   padding: 0 3em;
}
.contact-page_form .input-wrap {
   padding: 0.6em 0;
}
.contact-page_form input[type="name"],
.contact-page_form input[type="email"] {    
   color: #050203 !important;
   font-size: 1rem;
}
.contact-page_form input::-webkit-input-placeholder {    
   font-size: 1rem;
}
.contacter-service_wrap {
   margin: 0.7em 0 0.4em;
}
.label-wrap {
   padding: 0.4em 0;
}
.contact-page_inner-wrap textarea {
   border: none;
   border-radius: 0;
   margin: 0 0 2em;
   padding: 1em;
}  
.contact-page_socials {
   display: grid;
   grid-template: 1fr 1fr/ 12% 12% 12%;
   justify-content: space-evenly;
   padding: 4em 0;
}
.test1 {
   grid-row: 1;
   grid-column: 1 / span 3;
}
.test2 {
   grid-row: 2;
   grid-column: 1;
}
.test3 {
   grid-row: 2;
   grid-column: 2;
}
.test4 {
   grid-row: 2;
   grid-column: 3;
}


/*--------------------------------------------*/
/*---------  SUB page Contact Thanks ---------*/
/*--------------------------------------------*/
.contact-thanks_wrap {
   /* margin: 0em 1.2em 6em; */
   padding: 2.4em 1.2em;
}
.contact-thanks_inner-wrap {
   padding: 0 0.4em 0.6em;
}
p.contact-thanks_tagline {
   margin-top: 1em;
}
.contact-thanks_our-names_content {
   font-family: "Ubuntu", sans-serif;
/*     margin: 0 0 1em; */
} 





/* -------------------------------------------------------- */
/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
   .laughing-us {
      margin-top: -48%;
      grid-row: 1;
      grid-column: 9 / span 5;
   }
   .howwedo-img {
      max-width: 800px;
      background-size: 60%;
   }
   .howwedo_websites:nth-of-type(2) {
      padding-right: 3em;
   }
   .about-wrap {
      padding: 7em 0 1em;
   }
   /* .method-grid {
      grid-gap: 4.8em;
   } */
   /* ------ contact Chunk section ------ */
   .lets-talk_wrap .huge-type {      
      font-size: 9rem;
      letter-spacing: 0.4rem;
      line-height: 1.1;
   }
   .contact-chunk_area {
      padding: 3em 3em 2em;
   }
   .contact-chunk_form {
     margin: 2em 2em 1em;
   }
   /* .subpage_ctct-card {
      padding: 6em 6em 4em;
      margin: 7em 0 6em;
   } */

   .error {
      margin-top: 8em;
   }


}