/* Medium devices (like tablets, 768px and up) */
@media (min-width: 768px)
and (orientation: portrait) {
   .h1 {
      /* =72px */
      font-size: 4.5rem;
    }
    .h2 {
       /* =60px */
      font-size: 3.75rem;
    }
    .h3 {
       /* =44px */
      font-size: 2.75rem;
    }
    .h4 {
       /* =30px */
      font-size: 1.875rem;
    }
    .h5 {
       /* =24px */
      font-size: 1.5rem;
    }
    .h5b {
      font-family: "Ubuntu", sans-serif;
      text-transform: uppercase;
      /* =24px */
      font-size: 1.5rem;
      color: #050203;
    }
    .h6 {
       /* =20px */
      font-size: 1.25rem;
    }

   /* --------- Navigation --------- */
   .navlogo-wrap {
      width: 24%;
   }
   /* nav ul li {
      display: inline-block;
   } */

   .hero {
      grid-template: 102px 1fr min-content 1fr / minmax(4em, 1fr) minmax(min-content, 600px) minmax(4em, 1fr);
      /* grid-template: 6em min-content 1fr / 2rem 1fr 2rem; */
   }
   .hero-first {
     grid-row: 3;
     grid-column: 2;
   }
   .hero .huge-type {
     font-size: 3rem;
     letter-spacing: 0.1rem;
     line-height: 1.2;
   }
   p.tagline {
     font-weight: 400;
     font-size: 1.4rem;
     line-height: 1.5;
   }


   /* --------- Service Section --------- */
   .services-grid {
      grid-template: repeat(4, min-content) / 2rem repeat(5, 1fr) 3rem;
   }
   .laughing-us {
      grid-row: 1;
      grid-column: 5 /span 2;
   }
   .services-grid-headings {
      grid-row: 2;
      grid-column: 2 / span 5;
      margin: 4em 0 2em;
    }
    .services-grid-item1 {
      grid-row: 3;
      grid-column: 2 / span 5;
    }
    .services-grid-item2 {
      grid-row: 4;
      grid-column: 2 / span 5;
    }
    .service-wrap img {
       width: 90%;
    }
   /* --------- About Section --------- */
   .about-wrap {
      display: grid;
      grid-template: repeat(3, min-content) / 1fr (max-content) 1fr;
   }
   .about-headings {
      grid-row: 1;
      grid-column: 2;
      margin: 1em 0 2em;
   }
   .about-pics {
      grid-row: 2;
      grid-column: 2;
      max-width: 600px;
      margin: 0 auto;
   } 
   .about-tagline {
      grid-row: 3;
      grid-column: 2;
      padding: 1em 0 0;
   }
   .about-tagline p {
      padding: 0 3em;
   }
   .method-wrap {
      margin-bottom: 8em;
    }
   .method-headings {
      margin: 1em 0 2em;
   }
   .method-grid > div {
      max-width: 600px;
      padding: 1.2em 2em;
      box-shadow: 9px 25px 30px 0 rgb(0 0 0 / 30%);
      margin: 3em;
   }

   /* --------- Contact chunk Section --------- */
   .contact-chunk {
      display: grid;
      grid-template: 1fr / 1fr 1fr;
    }
    .contact-chunk_head {
      padding: 2em;
      grid-row: 1;
      grid-column: 1;
      display: grid;
      grid-template: 1fr / 1fr;
      place-items: center;
      /* grid-template: minmax(72px, 1fr) min-content minmax(72px, 1fr) / minmax(72px, 1fr) min-content minmax(72px, 1fr); */
    }
    .lets-talk_wrap .huge-type {      
      font-size: 4rem;
      letter-spacing: 0.3rem;
      line-height: 1.2;
    }  
    .contact-chunk_area {
      min-height: 72vh;
      padding: 2em;
      grid-row: 1;
      grid-column: 2;
      /* display: grid;
      grid-template: minmax(3em, 1fr) min-content minmax(3em, 1fr); */
    }  
    .contact-chunk_socials li {
      display: inline;
      padding: 0 0.4em;
    }

   .footer-logo img {
      width: 72%;
      height: 72%;
   }

    /* SUB page header styling */
    /* .subpage-header-bg-wrap {
       display: none;
    } */

}
